*.pyc
*.egg-info
*.log
__pycache__
.venv/


# Docs
docs/_*
build
dist

# Testing
.tox
.coverage*
htmlcov
.*_cache
.vagrant
Vagrantfile

# Examples
examples/*.sqlite3
examples/*migrations*
examples/media
examples/static-collected

# OS-specific
.DS_Store
