exclude: .*migrations\/.*
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
  - id: ruff
    args: ["check", "--fix"]
  - id: ruff-format
