[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "nanodjango"
description = "Run Django models and views from a single file, and convert it to a full project."
dynamic = ["version"]
authors = [
    { name="Richard Terry", email="code@radiac.net" },
]
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Django",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
keywords = ["django"]
requires-python = ">=3.8"
dependencies = [
    "black",
    "click",
    "isort",
    "Django>=3.2",
    "django-ninja",
]

[project.scripts]
nanodjango = "nanodjango.commands:invoke"

[project.urls]
Homepage = "https://radiac.net/projects/nanodjango/"
Documentation = "https://nanodjango.readthedocs.io/en/latest/"
Changelog = "https://nanodjango.readthedocs.io/en/latest/changelog.html"
Repository = "https://github.com/radiac/nanodjango"
Issues = "https://github.com/radiac/nanodjango/issues"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["nanodjango*"]
exclude = ["docs*", "tests*", "examples*", "src*", "dist*"]

[tool.setuptools.dynamic]
version = {attr = "nanodjango.__version__"}

[tool.pytest.ini_options]
addopts = "--cov=nanodjango --cov-report=term --cov-report=html"
testpaths = [
    "tests",
    "nanodjango",
    "examples",
]
pythonpath = ["."]

[tool.coverage.run]
source = ["nanodjango"]

[tool.black]
line-length = 88
target-version = ["py311"]
include = "\\.pyi?$"

[tool.isort]
multi_line_output = 3
line_length = 88
known_django = "django"
sections = ["FUTURE", "STDLIB", "DJANGO", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
include_trailing_comma = true
lines_after_imports = 2
skip = [".git"]

[tool.mypy]
follow_imports = "skip"
ignore_missing_imports = true

[tool.doc8]
max-line-length = 88
ignore-path = ["*.txt"]

[tool.ruff]
line-length = 88
lint.select = ["E", "F"]
lint.ignore = [
    "E501",  # line length
]
exclude = [
    ".git",
    "dist",
]
